{% extends './base.html' %}
{% block style %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="card" style="width: 400px;">
      <div class="card-body">
                  <h2 class="text-center">App Tarea</h2>
                  <p>Vamos a guardar las tareas que necesitas realizar</p>
                  <form class="form" action="/update-tarea/{{tarea.0}}" method="POST">
                      <div class="mb-3">
                        <label class="form-label">Titulo</label>
                        <input type="text" name="title" class="form-control" value="{{tarea.1}}">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Descripcion</label>
                        <textarea class="form-control" name="description" cols="30" rows="4">{{tarea.2}}</textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Guardar</button>
                      <a href="/" class="btn btn-warning">Regresar</a>
                    </form>
      </div>
  </div>
</div>
{% endblock %}