{% extends './base.html' %}
{% block style %}
    <link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="text-center">App Tarea</h2>
                        <p>Vamos a guardar las tareas que necesitas realizar</p>
                        <form class="form" action="/add-tarea" method="POST">
                            <div class="mb-3">
                              <label class="form-label">Titulo</label>
                              <input type="text" name="title" class="form-control">
                            </div>
                            <div class="mb-3">
                              <label class="form-label">Descripcion</label>
                              <textarea class="form-control" name="description" cols="30" rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                          </form>
                    </div>
                    <div class="col-lg-8">
                        {% for tarea in tareas %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-9">
                                        <strong class="text-uppercase">{{ tarea.1 }}</strong>
                                        <p>{{tarea.2}}</p>
                                    </div>
                                    <div class="col-lg-3">
                                        <a href="/edit-tarea/{{tarea.0}}" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="/delete-tarea/{{tarea.0}}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}